<!DOCTYPE html>
<html>
  <head>
    <title>MailsViewer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="/assets/stylesheets/application.css"></script>
  </head>

  <body>
 
    <%= yield %>
  </body>
</html>
